
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

body 
{
  margin: 0;
  top: 0;
  padding: 0;
  bottom: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#bg-video 
{
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    min-width: 100%;
    min-height: 100%;
    opacity:0.6;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
}
@media screen and (width<992) 
{
    #home
    {
        margin: auto 0%!important;
    }    
}
nav
{
    background: linear-gradient(to right, #232526, #5c5d5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#first-name
{
    color: rgb(240, 236, 11);
}
#home
{
    margin-top: 10% !important;
}
#home .img-profile
{
    width: 60% !important;
}
#about_me .img-profile
{
    width: 40% !important;
}
nav a 
{
  color: #f2f2f2 !important;
  text-align: start;
  padding: 25px 12px !important;
  text-decoration: none;
  font-size: 20px;
}
.nav-a
{
  color: black;
}



.custom_bottom
{
    width: 150px;
    border-radius: 130px !important;
    background-color: rgb(240, 236, 11) !important;
    transition-duration: 0.4s;
    color: black !important;
}
.custom_bottom:hover
{
  background-color:rgb(123, 120, 120) !important;
    color: white !important;
}

section
{
    background-color: whitesmoke;
}
#certificates h1,#skills h1,#future_exp h1,#my_projects h1
{
    color: rgb(62, 83, 106);
}

.img-container{
    position: relative;
    display: inline-block;

}
.img-text
{
    visibility: hidden;
    width:100%;
    height:100% !important;
    position: absolute;
    background-color: rgb(56, 56, 43);
    opacity: 0.5;
    display:block;
    border-radius: 90px 50px;
    margin: auto;
}
#skills,#future_exp,#my_projects 
{
    padding-top: 50px;
}
li,.ul 
{
  list-style-type: none;
}
ul a  
{
    text-decoration: none;
    color: rgb(244, 238, 232);
}
#div_info ul a:hover  
{
    font-size: 1.5rem;
    color: red;
}
nav ul a:hover , footer ul a:hover
{
    font-size: 1.5rem;
    color: rgb(240, 236, 11) !important;
}

a i
{
    padding: 10px 10px;
    font-size: 1rem;
}
header a button:last-child
{
margin-top:20% ;
font-size: 1.5rem;
background-color: rgb(240, 236, 11);
color: #232526;
font-weight:bolder;
}
header a button:last-child:hover
{
    background-color: red;
    color:white;
    font-size: 1.7rem;


}
.imgs 
{
    width:280px !important;
    height: 250px !important;
}
#my_projects .imgs
{
    border-radius: 50px !important;
} 
section
{
    padding: 100px 0px !important;
}



textarea
{
  background-color: rgba(227, 222, 222, 0.952);
  opacity: 0.5;
  resize: none;
}
.input 
{
  border-color: #d9efda;
  border-style: ridge;
  border-width: 1px;
   border-radius: 10px;
   padding: 10px 25px;
   margin: 6px 0px;
   width: 100%;
}

.contect .ul li 
{
  font-size: 20px;
  padding: 10px;
  margin: 0px 2px;

}
li a .fa-brands
{
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #dce5e4;
  color: #638ea5;
  border-radius: 50%;
} 
.w_75
{
    width: 75%;
}
.w_70
{
    width: 70%;
}
.w_85
{
    width: 85%;
}
.w_25
{
    width: 25%;
}
.w_30
{
    width: 30%;
}
.w_60
{
    width: 60%;
}

.card,.card img
{
    border-radius: 25px !important;
}
.card
{
    height: 100%;
}
.card-body
{
    height:300px;
}
.card-img-top
{
    height: 250px !important;
}




#overlay {
    background: #fffffe;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
  }

  .spinner {
      margin: 0 auto;
      height: 64px;
      width: 64px;
      animation: rotate 0.8s infinite linear;
      border: 15px solid rgb(240, 236, 11);
      border-right-color: transparent;
      border-radius: 50%;
  }
  @keyframes rotate {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }